apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: default
data:
  SQS_QUEUE_URL: "https://sqs.us-west-2.amazonaws.com/497588665354/inventory-update-queue"
  DYNAMODB_TABLE_NAME: "PriceHistory"
  AWS_REGION: "us-west-2"
